<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.backend.mapper.AdditionMapper">
    <select id="getArchivedDataStockCode" parameterType="String" resultType="String">
        select stock_code from archivedData where stock_code=#{stockCode} group by (stock_code)
    </select>
    <select id="insertToAddition" parameterType="Map">
        insert into addition values(#{id},#{stockCode})
    </select>
</mapper>