<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.backend.mapper.AvailableDataMapper">


    <select id="getNation" parameterType="String" resultType="String">
        select nation, count(nation) from AvailableData where stock_code not in
        (select stock_code from addition where id=#{id} group by stock_code) group by nation
    </select>

    <select id="getDb" parameterType="Map" resultType="String">
        select db_name, count(db_name) from AvailableData where stock_code not in (select stock_code
        from addition where id=#{id} group by stock_code) and nation=#{nation} group by db_name
    </select>
    <select id="getSector" parameterType="Map" resultType="String">
        select sector, count(sector) from AvailableData where stock_code not in
        (select stock_code from
        addition where id=#{id} group by stock_code) and db_name=#{db_name}
        group by sector
    </select>

    <select id="getName" parameterType="Map" resultType="String">
        select name, stock_code from AvailableData where stock_code not in
        (select stock_code from addition where id=#{id} group by stock_code) and sector=#{sector}
    </select>
    <select id="getStockCode" parameterType="Map" resultType="String">
        SELECT STOCK_CODE FROM AvailableData where stock_code not in (select stock_code from addition where id=#{id} group by stock_code) and name = #{name}    </select>
    <select id="getAvailableDataByFilters" parameterType="String" resultType="String">
        SELECT name FROM addition where id=#{id} WHERE nation=#{nation} AND db_name=#{db_name} AND sector=#{sector} AND name=#{name} AND stock_code=#{stock_code}
    </select>
    <select id="getList" parameterType="Map" resultType="team.backend.domain.AvailableData">
        SELECT *
        FROM AvailableData A
        INNER JOIN addition ON A.stock_code = addition.stock_code
        WHERE addition.id = #{id}
    </select>

</mapper>