<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.backend.mapper.MemberMapper">
    <resultMap id="memberResultMap" type="Member">
        <id property="id" column="id"/>
        <result property="pwd" column="pwd"/>
    </resultMap>
    <select id="findById" resultMap="memberResultMap">
        SELECT id, pwd
        FROM ID
        WHERE id = #{id}
    </select>
    <insert id="insertMember" parameterType="team.backend.domain.Member">
        INSERT INTO ID (ID, PWD, USER_NAME, EMAIL, BIRTH_DATE, GENDER, SIGNUP_DATE)
        VALUES (#{id}, #{pwd}, #{user_name}, #{email}, #{birth_date}, #{gender},SYSDATE)
    </insert>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM ID WHERE ID = #{id}
    </delete>
    <select id="findUserByUsernameDobAndEmail" resultType="team.backend.domain.Member">
        SELECT id FROM ID
        WHERE user_name = #{user_name}
        AND birth_date = #{birth_date}
        AND email = #{email}
    </select>

</mapper>
