<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.backend.mapper.ServiceUsageMapper">

    <insert id="insertToServiceUsage" parameterType="Map">
        insert into ServiceUsage(serviceusage_seq,stock_code1, stock_code2, start_date, end_date, id,report)
        values(serviceusage_seq.nextval,#{stock_code1},#{stock_code2},#{start_date},#{end_date},#{id},#{report})
    </insert>
    <select id="getHistory" parameterType="String" resultType="team.backend.domain.ServiceUsage">
        SELECT *
        FROM ServiceUsage
        WHERE id = #{id}
    </select>
    <delete id="deleteHistoryBySeq" parameterType="int">
        DELETE FROM ServiceUsage WHERE serviceusage_seq = #{serviceusage_seq}
    </delete>

    <select id="getResult" parameterType="String" resultType="team.backend.domain.ServiceUsage">
        SELECT *
        FROM ServiceUsage
        WHERE id = #{id}
    </select>
</mapper>

